body {
background: #84D2F6;

}
.header__main--title{
    color: #0F314A;
    background-color: #59A5D8;
    

}
.firstSection__header {
    color: #0F314A;
    background-color: #59A5D8; 
}
    
.firstSection__article--header {
    color: #0F314A;
    background-color: #59A5D8;
    max-width: 300px;
    margin: 30px auto;
    padding: 5px;
    border: 5px solid teal ;
    box-sizing: border-box;
    

}
    
}
footer{
    color: #0F314A;
    background-color: #59A5D8;
}
.navigation__link{
    color: black;
    background-color: #BFD7EA;
    display: inline-block;
    height: 50px;
    width: 70px;
    
   
}

.navigation{
    
    display: inline-block;
}
.list-1{
    
    border: 10px solid darkblue;
    display: inline-block;
    padding: 10px 40px;
    border-radius: 15px;

}
a {
    color: red;
}
.header-1{
    background: #087E8B;
}
.header-2{
    background: #BFD7EA;
}
p {
    color: black;
    min-height: 80px;
    width: 600px;
    overflow:auto;
    background: #DCEDFF;
    padding:25px;
    border: 10px solid #59A5D8;
    border-radius: 10px;
    margin: auto;
    box-sizing: border-box;

}
.long-text{
    color: black;
    max-height: 200px;
    width: 600px;
    overflow:auto;
    background: #DCEDFF;
}

.image-2{
    float: left;
}
   
    


